[submodule "CEIA_Analisis_de_datos"]
	path = CEIA_Analisis_de_datos
	url = https://github.com/FIUBA-Posgrado-Inteligencia-Artificial/CEIA_Analisis_de_datos.git
[submodule "analisis_de_datos"]
	path = analisis_de_datos
	url = git@github.com:dsmilovich/analisis_de_datos.git
